<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management system</title>
</head>
<body>
    <h1>student Management system</h1><h1>Add Student</h1><h1>All Students</h1>
    <table>
        <thead>
            <td>StudentID</td>
            <td>Student Name</td>
            <td>Email</td>
            <td>college</td>
            <td>program of study</td>
            <td>Year of Admission</td>
        </thead>
        <tr>
            <td>20866600</td>
            <td>silas kumi</td>
            <td>silaskumi4@gmail.com</td>
            <td>college of science</td>
            <td>computer science</td>
            <td>2021</td>

        </tr>
    </table>
    
    
</body>
</html>