<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management system</title>
</head>
<body>
    {% if user.is_authenticated%}
    <h3><a href="{% url 'logout' %}">logout</a></h3>
    {%else%}
    <h3><a href="{% url 'login' %}">login</a></h3>
    <h3><a href="{% url 'register' %}">register</a></h3>
    {% endif%}
    <h1>student Management system</h1><h3><a href="{% url 'add' %}">Add Student</a></h3><h1>All Students</h1>
   {%if user.is_authenticated%}
    <table>
        
        {%if student %}
        
            <thead>
            <tr>
            <th>StudentID</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>college</th>
            <th>program of study</th>
            <th>Year of Admission</th>
            <th>Action</th>
            </tr>
            </thead>
            {% for student in student%}
            <tr>
            <td><a href="{% url 'view' student.id %}">{{student.StudentID}}</a></td>
            <td>{{student.StudentName}}</td>
            <td>{{student.Email}}</td>
            <td>{{student.College}}</td>
            <td>{{student.POS}}</td>
            <td>{{student.YOA}}</td>
            <td><a href="{% url 'update' student.id %}">Update</a></td>
            <td><a href="{% url 'delete' student.id %}">Delete</a></td>
            </tr>
            {%endfor%}
        {% else%}
        <h1>no student has been admitted</h1>
        
       
        {%endif%}
        {%endif%}
    </table>
    
    
</body>
</html>